.Section-navbar-contianer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #B2CAF2;
    border-radius: 0vh 2vh 2vh 0vh;
    height: 100vh;
}
.section-navbar-logo-container{
    margin-top: 4vh;
    width: 30%;
}
.section-navbar-logo-container img{
    width: 100%;
    height: auto;
}
.section-navbar-logo-container h2{
    margin: 0px;
    font-family: 'Kapakana', sans-serif;
    font-size:3vw;
    color: #002663;
}

.sector-navbar-item{
    margin-top: 2vh;
    width: 80%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6vw;
    box-shadow: 3px 5px rgba(0, 38, 99,0.2);
    transition: all 0.2s ease-in-out; 
}
.sector-navbar-item h3{
    padding: 0.5vw;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    transition: all 0.2s ease-in-out;
}
.sector-navbar-item:hover{
    scale: 1.02;
}
.sector-navbar-item:hover h3{
    font-size: 1.15rem;
}

.sector-navbar-item-active{
    background-color: #002663;
    scale: 1.02;
}

.sector-navbar-item-active h3{
    font-size: 1.15rem;
    color: white;
}

.sector-navbar-item-normal{
    background-color: white;
    cursor: pointer;
}

.sector-navbar-item-normal h3{
    color: #002663;
}

.sectionNav-userProPic img{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: 8vh;
}

.sectionNav-userName{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #002663;
}