.guestManage-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.guestManage-firstRow{
    width: 80%;
    display: flex;
    margin-left: 2vw;
    margin-top: 6vh;
    align-items: center;
    justify-content: space-between;
}

.gestManage-seachBar-sector{
    width: 30%;
    height: 3.5vh;
    border: 2px solid #002663;
    border-radius: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
}
.gestManage-seachBar-sector input{
    background-color: white;
    border: none;
    margin-left: 2vw;
    width: 60%;
    font-size: 1rem;
    color: #002663;
    padding: 0px;
}
.gestManage-seachBar-sector input:focus{
    border: none;
    outline: none;
}

.guestManage-firstRow-buttons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.firstRow-button{
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #002663;
    color: white;
    border-radius: 1rem;
    width: 20%;
    font-size: 1.2rem;
    height: 4vh;
    padding-left: 1vw;
    transition: all 0.1s ease-in-out;
}

.firstRow-inviteBtn{
    width: 16%;
}

.firstRow-addBtn{
    width: 25%;
}
.firstRow-button p{
    margin-left: 1vw;
}

.firstRow-button:hover{
    scale: 1.04;
    cursor: pointer;
}
.guestManage-table-container{
    margin-top: 6vh;
    width: 100%;
    margin-left: 7vw;
    color: #002663;
    height: 70vh;
}
.guestManage-table-container table{
    width: 90%;
}
.guestManage-table-container table,th,td{  
    border-collapse: collapse;
}
.guestManage-table-container th,td{
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.guestManage-table-container tr{
    padding: 1rem;
    text-align: center;
}
.guestManage-table-container tr:hover{
    background-color: #C3DAFF;
    height: 4vh;
}
.guestManage-table-container th{
    padding: 0.5rem;
    background-color: #F5F5F5;
}
.guestManage-table-container td{
    padding: 0.7rem;
}
.guestManage-lastRow{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lastRow-button{
    width: 15%;
    height: 4vh;
    background-color: #002663;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding-left: 1vw;
    transition: all 0.1s ease-in-out;
}
.lastRow-button p{
    margin-left: 1.5vw;
}

.lastRow-button:hover{
    scale: 1.04;
    cursor: pointer;
}

.inviteForm-container{

}

.guestManageEdit{
    width: 13%;
    background-color: green;
    padding: 0.5vw;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    height: 0.5vh;
}

.guestManageDelete{
    width: 13%;
    background-color: red;
    padding: 0.5vw;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    height: 0.5vh;
}

.guestManageEdit:hover{
    scale: 1.04;
    font-size: larger;
}
.guestManageDelete:hover{
    scale: 1.04;
    font-size: larger;
}