.sendMailForm-sector{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.sendMailForm-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    color: #002663;
    margin-left: 8vw;
}
.sendMailForm-input{
    color: #002663;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    margin-left: 7vw;
    margin-top: 5vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sendMailForm-input label{
    width: 20%;
}
.sendMailForm-input input{
    background-color: white;
    border-radius: 1vw;
    color: #002663;
    font-family: "Inter", sans-serif;
    font-size:1rem;
    font-style: normal;
    border: 1px solid #002663;
}
.sendMailForm-input input:focus{
    border: 2px solid #002663;
    outline: none;
    box-shadow: 3px 5px rgba(0, 38, 99,0.2);
}
.input-To{
    width: 80%;
    height: 8vh;
}
.input-subject{
    width: 80%;
    height: 3vh;
}
.input-message{
    width: 80%;
    height: 40vh;
}
.sendMailForm-sendBtn-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2vh;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    margin-left: 1.5vw;
}
.sendMailForm-sendBtn{
    background-color: #002663;
    width: 13%;
    height: 4vh;
    color: white;
    border-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
.sendMailForm-sendBtn:hover{
    scale: 1.04;
    cursor: pointer;
}