.BudgetOverview-container{
    width: 50%;
    height: 20vh;
    background: white;
    padding: 16px;
    border-radius: 2vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    display : flex;
    flex-direction: column;
    color: #002663;

}
.BudgetOverview-containerItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.BudgetOverview-containerItem input{
    background-color: white;
    width: 12%;
    height: 2vh;
    color: #002663;
    border-radius: 1vw;
    margin-left: 0.2vw;
    border: 2px solid #002663;
    font-size: 0.8vw;
    font-weight: bold;
    font-size: large;
    text-align: end;
}
.BudgetOverview-submitBtn{
    width: 10%;
    height: 2vh;
    background-color: #002663;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
}
.BudgetOverview-submitBtn:hover{
    scale: 1.03;
}
.budgetManage-addExpense{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2vh;
}
.budgetManage-addExpense-Btn{
    width: 10%;
    height: 3vh;
    background-color: #002663;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.budgetManage-addExpense-Btn:hover{
    scale: 1.03;
}

.budgetManage-table-container{
    margin-top: 6vh;
    width: 100%;
    margin-left: 7vw;
    color: #002663;
    height: 70vh;
}
.budgetManage-table-container table{
    width: 90%;
}
.budgetManage-table-container table,th,td{  
    border-collapse: collapse;
}
.budgetManage-table-container th,td{
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.budgetManage-table-container tr{
    padding: 1rem;
    text-align: center;
}
.budgetManage-table-container tr:hover{
    background-color: #C3DAFF;
    height: 4vh;
}
.budgetManage-table-container th{
    padding: 0.5rem;
    background-color: #F5F5F5;
}
.budgetManage-table-container td{
    padding: 0.7rem;
}