.EventAddForm-container{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.EventAddForm-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    color: #002663;
    margin-left: 8vw;
}
.EventAddForm-input{
    color: #002663;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    margin-left: 7vw;
    margin-top: 5vh;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.EventAddForm-input label{
    width: 20%;
}
.EventAddForm-input input{
    background-color: white;
    border-radius: 1vw;
    color: #002663;
    font-family: "Inter", sans-serif;
    font-size:1rem;
    font-style: normal;
    border: 1px solid #002663;
    height: 4vh;
    padding-left: 2vw;
}
.EventAddForm-input input:focus{
    border: 2px solid #002663;
    outline: none;
    box-shadow: 3px 5px rgba(0, 38, 99,0.2);
}

.inputEvent-name, .inputEvent-venue, .inputEvent-clientName{
    width: 80%;
    height: 2vh;
}
.inputEvent-clientPhone{
    width: 40%;
    height: 2vh;
}

.inputEvent-clientAdd{
    width: 80%;
    height: 9vh;
    background-color: white;
    border-radius: 1vw;
    color: #002663;
    font-family: "Inter", sans-serif;
    font-size:1rem;
    font-style: normal;
    border: 1px solid #002663;
    padding-left: 2vw;
}
.inputEvent-clientAdd:focus{
    border: 2px solid #002663;
    outline: none;
    box-shadow: 3px 5px rgba(0, 38, 99,0.2);
}

.EventAddForm-addBtn-container{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4vh;
    font-family: "Inter", sans-serif;
    font-size:1.1rem;
    font-style: normal;
    margin-left: 1.5vw;
}
.EventAddForm-addBtn{
    background-color: #002663;
    width: 13%;
    height: 4vh;
    color: white;
    border-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.1s ease-in-out;
}
.EventAddForm-addBtn:hover{
    scale: 1.04;
    cursor: pointer;
}