.login-form-container {
    background-color: #f9f8f8;
    width: 80%; 
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 1.5vw #dbdbdb;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    color: #002663;
    text-align: center;
    margin: 10vh auto; 
  }
  
  .login-inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-inputbox input {
    background-color: white;
    width: 100%; 
    height: 5vh;
    font-family: "Italianno", cursive;
    font-size: 1.2vw;
    color: #002663;
    border-radius: 1.5vw;
    border: 1px solid #002663;
    padding: 0.5vw;
    margin-bottom: 2vh; 
    outline: none;
  }
  
  .login-inputbox input:focus {
    border-color: #0052cc;
    box-shadow: 0 0 0.5vw rgba(0, 82, 204, 0.3);
  }
  
  .login-button {
    background-color: #002663;
    color: white;
    width: 50%;
    height: 5vh;
    font-size: 1.2vw;
    font-family: "Italianno", cursive;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;
    margin-top: 1vh;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0052cc;
  }

  .login-inputbox a{
    margin-top: 2vh;
  }
  
  .login-inputbox a:hover{
    cursor: pointer;
  }